@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

.material-symbols-outlined {
    font-size: 400px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; */
    padding: 0;
    margin: 0;
}

/* MENU */

header {
    background-color: white;
    width: 100%;
    height: 7vh;

    display: grid;
    grid-template-columns: 10% 60% 30%;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    top: 0;

    -webkit-box-shadow: -1px 9px 24px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 24px -14px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 24px -14px rgba(0,0,0,0.75);
}

#logo{
    height: 7vh;
    justify-self: flex-end;
}

.paginas{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
    margin-left: 5vh;

    font-size: 3vh;
    font-weight: 600;
}

.paginas a{
    margin: 0;
    text-decoration: none;
    color: #052937;
}

.paginas a:hover, .paginas a:focus{
    color: #4276B7;
}

.botoes {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.botoes a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    font-weight: 600;
    text-decoration: none;
}

#login{
    width: 6vw;
    color: #052937;
    transition: ease-in-out 0.5s;
}

#login:hover, #login:focus{
    transform: scale(1.1);
    /* color: #0b5877; */
}

#cadastro{
    width: 10vw;
    background-color: #30B945;
    color: white;
    transition: ease-in-out 0.5s;
}

#cadastro:hover, #cadastro:focus{
    background-color: #138a24;
}

/* INICIO DA PAGINA */

#inicio {
    color: #052937;
    /* width: 100vw;
    height: 100vh; */
    text-align: left;
    padding: 20vh;
    padding-top: 12vh;
    padding-bottom: 2vh;
}

#inicio h1{
    font-size: 10vh;
    font-weight: 700;
    line-height: 15vh;
    width: 49vw;
    margin: 0;
}

/* DESAFIOS */

.desafio{
    margin: 2vh 20vh;
    color: white;
    padding: 5vh;
    border-radius: 2vh;
    line-height: 4vh;
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
}

.desafio a{
    width: 100%;
    height: 6vh;
    background-color: white;
    border-radius: 1vh;
    font-size: 3.3vh;
    font-weight: 700;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: ease-in-out 0.2s;
}

.desafio a:hover, .desafio a:focus {
    transform: scale(0.95);
}

.desafio p{
    text-align: center;
}

#desafioVN{
    background: linear-gradient(135deg, #c12a25 0%, rgba(193,42,37,1) 0%, #5b1412 100%);
}

#desafioVN a{
    color: #5b1412;
}

#desafio7BB{
    background: linear-gradient(135deg, #c12a25 0%, #e53f6e 0%, #bb1c49 100%);
}

#desafio7BB a{
    color: #bb1c49;
}

.desafio h2{
    text-align: center;
    font-size: 5vh;
}

.desafio div{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

/* RODAPÉ */

footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color: #4276B7;
    padding: 1.5vw 6vh;
    margin-top: 5vh;
}

footer h2{
    color: #ffffff;
    margin: 0;
    font-size: 4vh;
}

footer input{
    color: #ffffff;
    background-color: #4276B7;
    border-radius: 0.8vh;
    border: white solid 2px;
    height: 5vh;
    width: 60%;
    padding-left: 1.2vh;
}

footer input::placeholder, footer textarea::placeholder{
    color: white;
}

footer span{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    padding-bottom: 1vh;
}

footer button{
    color: #4276B7;
    background-color: #ffffff;
    border: 0;
    width: 40%;
    border-radius: 0.8vh;
    font-weight: 600;
    font-size: 3vh;
}

footer button:hover, footer button:focus{
    cursor: pointer;
    transform: scale(0.95);
}

textarea{
    width: 100%;
    height: 100px;
    margin: 1vh 0;
    color: #ffffff;
    background-color: #4276B7;
    font-size: 2vh;
    padding: 10px;
    border: white solid 2px;
    border-radius: 0.8vh;
    resize: none;
    outline: none;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3vh;
}

.redes img{
    width: 10vh;
}

.redes img:hover, .redes img:focus{
    transform: scale(0.95);
}

footer .logo{
    width: 50vh;
    align-self: center;
    justify-self: center;
}

