@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

.material-symbols-outlined {
    font-size: 400px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {
    /* /* display: flex;
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; */ 
    padding: 0;
    margin: 0 20vh;
}

header {
    background-color: white;
    width: 100%;
    height: 7vh;

    display: grid;
    grid-template-columns: 10% 60% 30%;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    top: 0;

    -webkit-box-shadow: -1px 9px 24px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 24px -14px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 24px -14px rgba(0,0,0,0.75);
}

#logo{
    height: 7vh;
    justify-self: flex-end;
}

.paginas{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
    margin-left: 5vh;

    font-size: 3vh;
    font-weight: 600;
}

.paginas a{
    margin: 0;
    text-decoration: none;
    color: #052937;
    cursor: pointer;
}

.paginas a:hover, .paginas a:focus{
    color: #4276B7;
}

/* SAVES */

#corpo{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
}

#corpo h2{
    margin: 2vh 0;
}

#divSave {
    margin-top: 3vh;
    background-color: #F2F2F2;
    width: 80vw;
    height: 55vh;
    padding: 4vh;
    border-radius: 2vh;

    display: flex;
    flex-direction: row;
    gap: 2vw;
    /* flex-wrap: nowrap; */

    -webkit-box-shadow: 5px 10px 50px -35px rgba(92,92,92,1);
    -moz-box-shadow: 5px 10px 50px -35px rgba(92,92,92,1);
    box-shadow: 5px 10px 50px -35px rgba(92,92,92,1);

    overflow: auto;
}

#divSave::-webkit-scrollbar {
    height: 1.5vw;
}

#divSave::-webkit-scrollbar-track {
    background: none;
}

#divSave::-webkit-scrollbar-thumb {
    background-color: #4276B7;
    border-radius: 10px;
    height: 20px;
    border: 6px solid #F2F2F2;
}

.linkSaves{
    text-decoration: none;
    width: fit-content;

    transition: ease-in-out 0.2s;
}

.linkSaves:hover, .linkSaves:focus{
    transform: scale(0.95);
}

.save {
    width: 18vw;
    height: 100%;

    color: white;
    padding: 3vh;
    border-radius: 1vh;
    font-size: 2.3vh;
    /* text-align: center; */

    -webkit-box-shadow: 5px 10px 50px -35px rgba(92,92,92,1);
    -moz-box-shadow: 5px 10px 50px -35px rgba(92,92,92,1);
    box-shadow: 5px 10px 50px -35px rgba(92,92,92,1);
}

.save p{
    width: 100%;
    margin: 1.2vh;
}

.save img{
    height: 8vw;
    margin: 1.5vh 0;
}

.semSave {
    background-color: #AFAFAF;
}

.viuvaNegra{
    background: linear-gradient(to right, rgba(241,111,92,1) 0%, rgba(193,42,37,1) 0%, rgba(91,20,18,1) 100%);
}

.bebes{
    background: linear-gradient(to right, rgba(193,42,37,1) 0%, rgba(229,63,110,1) 0%, rgba(187,28,73,1) 100%);
}

#divSaves h4{
    margin: 0;
}

.btAddSave {
    width: 100%;
    height: 5vh;
    background-color: #4276B7;
    color: #F2F2F2;
    font-weight: 600;
    font-size: 3vh;
    border-radius: 1vh;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh 0;
    cursor: pointer;

    transition: ease-in-out 0.2s;
}

.btAddSave:hover, .btAddSave:focus{
    background-color: #1e569b;
}

#addSave{
    background-color: #F2F2F2;
    border-radius: 2vh;
    padding: 4vh;
    color: #1e569b;

    display: none;
    grid-template-columns: 1fr 1fr;

    -webkit-box-shadow: -1px 9px 24px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 24px -14px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 24px -14px rgba(0,0,0,0.75);
}

#addSave h3{
    margin: 2vh 0;
    color: #1e569b;
}

#formAddSave p{
    font-size: 2.5vh;
    font-weight: 500;
    margin: 1vh 0;
}

#formAddSave input, #formAddSave textarea{
    border: 1px solid #4276B7;
    border-radius: 0.5vh;
    width: 90%;
    height: 4vh;
    padding-left: 1vh;
    color: #AFAFAF;
}

#formAddSave input::placeholder, #formAddSave textarea::placeholder{
    color: #AFAFAF;
}

#formAddSave textarea{
    padding: 1vh;
    height: 12vh;
    resize: none;
    outline: none;
}

#formAddDesafio{
    display: grid;
    align-items: center;
    align-content: center;
    align-content: space-between;
}

#formAddDesafio p{
    margin: 1vh 0;
}

#formAddDesafio h4{
    font-size: 3vh;
    margin: 1.5vh 0;
}

#formAddDesafio label{
    width: 90%;
    height: 6vh;
    background-color: #AFAFAF;
    color: white;
    border-radius: 0.8vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vh;
    font-size: 2.5vh;
    font-weight: 500;
    transition: ease-in-out 0.2s;
}

#formAddDesafio label img{
    height: 95%;
}

#formAddDesafio .optVN{
    background: linear-gradient(to right, rgba(241,111,92,1) 0%, rgba(193,42,37,1) 0%, rgba(91,20,18,1) 100%);
}

#formAddDesafio .optBB{
    background: linear-gradient(to right, rgba(193,42,37,1) 0%, rgba(229,63,110,1) 0%, rgba(187,28,73,1) 100%);
}

#formAddDesafio label:hover, #formAddDesafio label:focus{
    transform: scale(0.95);
}

#formAddDesafio input:checked + label{
    transform: scale(0.95);
}

#formAddDesafio input{
    display: none;
}

#formAddDesafio p{
    display: flex;
    flex-direction: column;
}

#formAddDesafio button{
    align-self: end;
    width: 90%;
    height: 5vh;
    background-color: #4276B7;
    color: white;
    border: none;
    border-radius: 0.8vh;
    cursor: pointer;
    font-weight: 600;
    font-size: 2.5vh;

    transition: ease-in-out 0.2s;
}

#formAddDesafio button:hover, #formAddDesafio button:focus{
    transform: scale(0.95);
}
/* textarea{
    width: 100%;
    margin: 1vh 0;
    color: #ffffff;
    background-color: #4276B7;
    font-size: 2vh;
    padding: 10px;
    border: white solid 2px;
    border-radius: 0.8vh;
    
} */