
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

html{
    background-image: url(../img/svg/fundoCad.svg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    min-height: 100vh;
    
    font-size: 16px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

p{
    font-size: 1.2vw
}

h2{
    font-size: 2vw;
}

#card {
    background-color: white;
    width: 50vw;
    height: 60vh;
    border-radius: 1vw;
    display: grid;
    grid-template-columns: 41% 60%;

    -webkit-box-shadow: -1px 10px 30px -10px rgba(79,79,79,1);
    -moz-box-shadow: -1px 10px 30px -10px rgba(79,79,79,1);
    box-shadow: -1px 10px 30px -10px rgba(79,79,79,1);
}

.cardEsq {
    width: 21vw;
    height: 60vh;
    background-color: #30B945;
    color: white;
    border-radius: 1vw;

    -webkit-box-shadow: 9px 6px 41px -17px rgba(161,161,161,1);
    -moz-box-shadow: 9px 6px 41px -17px rgba(161,161,161,1);
    box-shadow: 9px 6px 41px -17px rgba(161,161,161,1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2vw;
    gap: 2vh;
}

.cardEsq img{
    width: 80%;
    height: 50%;
}

.cardEsq h2, .cardEsq p{
    margin: 0;
}


.btCadastro{
    color: #30B945;
    background-color: white;
    border-radius: 0.3em;
    width: 15vw;
    height: 4vh;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.2vw;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px 10px rgba(51, 78, 48, 0.5);

    transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.btCadastro:hover, .btCadastro:focus{
    transform: scale(1.1);
}

.cardDir{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw;
}

.cardDir h1{
    color: #30B945;
    margin: 0;
}

#formCad{
    width: 100%;
    color: #30B945;
}

#formCad p {
    margin: 0.6vh;
    font-weight: bold;
}

#formCad input{
    border: 2px solid #30B945;
    height: 4.5vh;
    width: 100%;
    border-radius: 0.3vw;
    margin-bottom: 1.5vh;
    padding-left: 0.5vw;
    background-color: #F9F9F9;
}

#formCad input::placeholder{
    color: #9e9d9d;
    font-size: 1.1vw;
}

.btEntrar{
    color: white;
    background-color: #30B945;
    width: 100%;
    height: 4.5vh;
    border: none;
    border-radius: 0.3vw;
    margin-bottom: 1vh;
    font-size: 3vh;
    font-weight: 600;

    box-shadow: 2px 2px 10px rgba(107, 107, 107, 0.5);

    transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.btEntrar:hover, .btEntrar:focus{
    background-color: #28a03a;
    transform: scale(1.1);
    cursor: pointer;
}

.cardDir a{
    text-decoration: none;
    color: #30B945;
}

.cardDir a:hover, .cardDir a:focus {
    color: #28a03a;
}